apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: docker-registry
      containers:
        - name: backend-app
          image: adramalli/backend:23
          resources:
            limits:
              cpu: 200m
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 512Mi
          ports:
            - containerPort: 5000
          env:
            - name: MYSQL_HOST
              value: "http://mysql:3306/"
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: myapp-db-secret
                  key: MYSQL_USERNAME
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: MYSQL_PASSWORD
                  name: myapp-db-secret
            - name: MYSQL_DB
              valueFrom:
                secretKeyRef:
                  key: MYSQL_DB
                  name: myapp-db-secret
